## [txAdmin CFG validator]: you MUST NOT start/stop/ensure txadmin resources.
# stop monitor

setr voice_enableUi 0
setr voice_enableRadioAnim 1

ensure oxmysql
ensure spawnmanager
ensure sessionmanager
ensure mapmanager
ensure fivem
ensure chat
ensure logs
ensure loading
ensure discord
ensure rpemotes
ensure pma-voice
ensure safezone

ensure oxmysql
#ensure oxdrive
ensure vrp

ensure [maps]
ensure [weapons]


ensure admin
ensure anims
ensure bank
ensure barbershop
ensure bus
ensure cemitery
ensure chat
ensure chest
ensure crafting
ensure deliver
ensure doors
ensure dynamic
ensure engine
ensure evidence
ensure farmer
ensure garages
ensure grime
ensure hensa
ensure hoverfy
ensure hud
ensure inspect
ensure inventory
ensure keyboard
ensure loading
ensure lscustoms
ensure markers
ensure notebook
ensure notepad
ensure notify
ensure notifycall
ensure notifyitem
ensure painel
ensure paramedic
ensure party
ensure pause
ensure pdm
ensure plants
ensure player
ensure police
ensure postit
ensure propertys
ensure radar
ensure radio
ensure races
ensure routes
ensure request
ensure shops
ensure showme
ensure skinshop
ensure spawn
ensure survival
ensure tackle
ensure target
ensure taskbar
ensure tattooshop
ensure taxi
ensure towed
ensure trucker
ensure trunkchest
ensure warehouse
ensure weather
ensure helicrash
# ensure tksdoors

ensure lb-phone
ensure lb-phoneprop
ensure lb-vuejs
