## [txAdmin CFG validator]: you MUST NOT start/stop/ensure txadmin resources.
# stop monitor

ensure spawnmanager
ensure sessionmanager
ensure mapmanager
ensure fivem
ensure chat
ensure logs

ensure oxmysql
ensure oxdrive
ensure vrp

ensure creativeClothes
ensure creativeMaps
ensure creativeHouses
ensure creativeVehs
#ensure sjr_roleta
#ensure vns_cs_slots
#ensure vrp_lucky_wheel

ensure screenshot-basic
ensure webpack
ensure yarn
#ensure ps_phone_samsung
ensure vehcontrol
ensure vehmenu
ensure PolyZone
ensure logsystem
ensure creative
ensure tablet
ensure circuits
ensure spawn
ensure doors
ensure hud
ensure notify
ensure notifycall
ensure notifyitens
ensure showids
ensure garages
ensure inventory
ensure itemdamage
ensure crafting
ensure admin
ensure animacoes
ensure eletronics
ensure bank
ensure hoverfy
ensure player
ensure survival
ensure checkin
ensure shops
ensure dynamic
ensure barbershop
ensure skinshop
ensure blipsystem
ensure chest
ensure dna
ensure engine
ensure homes
ensure hospital
ensure inspect
ensure notepad
ensure prison
ensure radio
ensure rope
ensure safelocker
ensure sounds
ensure tackle
ensure taskbar
ensure tencode
ensure lscustoms
ensure trunkchest
ensure yellowpages
ensure target
ensure foodfarm
ensure cashmachine
ensure dismantle
ensure driver
ensure garbageman
ensure miner
ensure harvest
ensure hunting
ensure impound
ensure lumberman
ensure methlabs
ensure products
ensure robberys
ensure stockade
ensure towdriver
ensure airforce
ensure corrections
ensure transporter
ensure tattoos
ensure taxi
ensure police
ensure drugs
ensure igro45_digitalden
ensure mumble-voip

ensure atm
ensure casino
ensure evidence
ensure facs
ensure heliCam
ensure ilegal
ensure lockpicking
ensure luckywheel
#ensure MaraltoElevadores
ensure metas
ensure metasvehicles
ensure nitro
ensure notebook
ensure paramedic
ensure pma-voice
ensure postit
ensure premium
ensure propertys
ensure safecrack
ensure service
ensure showme
ensure warehouse
ensure yacht

ensure keyboard
ensure [weapons]
ensure [works]

#ensure npwd
